body {
  font-family: 'Poppins', sans-serif;
  color: #413E3F;
  max-width: 720px;
  margin: 0 auto;
  padding: 24px;
}

h1 {
  font-size: 32px;
}

hr {
  border-color: #413E3F;
  border-width: 0.5px;
}

#header {
  text-align: center;
}

#header p {
  line-height: 32px;
}

#header #header-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 32px 0;
}

#header #header-links a {
  margin: 8px;
  cursor: pointer;
}

#talks {
  margin-top: 32px;
}

a, a:visited, a:active {
  color: #413E3F;
  text-decoration: none;
  border-bottom: 2px #413E3F dotted;
  cursor: help;
}

a:hover {
  border-bottom: 2px #413E3F solid;
}

.profile-picture {
  width: 180px;
  border-radius: 50%;
}

.main-link {
  position: relative;
  border: 2px solid #413E3F;
  border-bottom-width: 4px;
  color: #413E3F;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.08s ease-in;
}

.main-link:hover {
  color: #fff;
}

.main-link:before {
  content: "";
  position: absolute;
  background: #413E3F;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
}

.main-link:hover:before {
  top: 0;
}

.main-link i {
  margin-right: 8px;
}

.talk {
  margin-bottom: 24px;
}

.talk .title {
  font-weight: bold;
}